.btn-dark {
  background-color: #0D1B56 ; 
  border-color: #0D1B56 ;
  color: white;
}

.btn-dark:hover {
  background-color: #0D1B56 !important;
  border-color: #0D1B56 !important;
  color: white !important;
}
.btn-dark:active,
.btn-dark:focus,
.btn-dark:focus-visible {
  background-color: #0D1B56 !important; 
  border-color: #0D1B56 !important;
  color: white !important;
  box-shadow: none !important;           
  transform: scale(0.98);                
}