.btn-add {
  background-color: #0D1B56; 
  border-color: #0D1B56;
  color: white;
}

.btn-add:hover {
  background-color: #0D1B56;
  border-color: #0D1B56;
  color: white;
}
.btn-add:active,
.btn-add:focus,
.btn-add:focus-visible {
  background-color: #0D1B56 !important; 
  border-color: #0D1B56 !important;
  color: white !important;
  box-shadow: none !important;           
  transform: scale(0.98);                
}
.btn-primary {
    background-color: white;
    border-color: white;
    color: black;
}
.btn-primary:hover {
    background-color: white !important;
    border-color: black !important;
    color: black !important;
    box-shadow: none !important;
}

.page-link {
  color: #0D1B56 !important;
  background-color: #fff !important;
  border: 1px solid #dee2e6;
  transition: all 0.2s ease;
}

.page-link:hover {
  background-color: #0D1B56 !important;
  color: #fff !important;
  border-color: #0D1B56 !important;
}

.page-item.active .page-link {
  background-color: #0D1B56 !important;
  border-color: #0D1B56 !important;
  color: #fff !important;
}

.page-item.disabled .page-link {
  background-color: #f8f9fa !important;
  color: #aaa !important;
  border-color: #dee2e6 !important;
}
