.login-container {
  display: flex;
  min-height: 100vh;
  background-color: #ffffff;
}

/* Bên trái */
.login-left {
  flex: 1;
  background-color: #7df2e8;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.doctor-wrapper {
  text-align: center;
}

.doctor-image {
  width: 300px;
  height: auto;
}

/* Bên phải */
.login-right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-top-left-radius: 60px;
  border-bottom-left-radius: 60px;
  box-shadow: -4px 0 15px rgba(0, 0, 0, 0.1);
}

.login-box {
  width: 80%;
  max-width: 400px;
  text-align: center;
  position: relative;
}

.medicine-img {
  width: 100px;
  height: auto;
  position: absolute;
  top: -100px;
  left: 50%;
  transform: translateX(-50%);
}

.login-title {
  font-weight: 800;
  margin-bottom: 20px;
  color: #000;
}

.input-field {
  border-radius: 20px;
  padding: 10px 15px;
  border: 1.5px solid #000;
}

.forgot-password {
  text-decoration: none;
  color: #000;
  font-size: 14px;
}

.forgot-password:hover {
  text-decoration: underline;
}

.login-btn {
  background-color: #0d6efd;
  border: 1px solid #000;
  border-radius: 40px;
  font-size: 16px;
}

.login-btn:hover {
  background-color: #084298;
}
